EXPO_PUBLIC_GATE_API_URL=https://api.dexbuilder.com/api/v4/prediction
EXPO_PUBLIC_GATE_WS_URL=wss://broker.dexbuilder.com/ws/dex-builder/prediction
EXPO_PUBLIC_BACKSPACE_API_URL=https://backspace.to/api
EXPO_PUBLIC_PRIVY_APP_ID=
EXPO_PUBLIC_PRIVY_CLIENT_ID=
